
.product img {
    width:120px;
    height: 150px;
}

input {
    margin:2px;
}

div.site-heading-small {
    color:white;
    font-size:120%;
    text-align:center;
    height:180px;
    padding-top:80px;
}

.send_form{
	background-color: #a5d6a7;
	border-color: green;
	color: black;
}